.card {
    transition: 0.3s;
    background-color: white;
}


@media (max-width: 575.98px) {  
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .card {
        top: 0px;
    }
}

@media (min-width: 768px) {
    .card {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
        position: relative;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .card {
        top: -300px;
        
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .card {
        top: -400px;
    }
}

@media (min-width: 1200px) and (max-width: 1599.98px) { 
    .card {
        top: -500px;
    }
}

@media (min-width: 1600px) { 
    .card {
        top: -800px;
    }
}

